body{background-color:grey;}
#divMain{
margin:auto;		
width:80%;
}
#divGitHub{
top:0px;
right:0px;
width:200px;
height:200px;
overflow:hidden;
position:absolute;
z-index:100;
pointer-events:none;
}
#GitHub{
background-color:#800;	
border:solid 2px black;	
color:white;
cursor:pointer;
font:bold 14px Arial,Helvetica,sans-serif;
height:20px;
padding-top:3px;
position:absolute;
right:60px;
text-align: center;
transform:translate(50%,-50%) rotate(45deg);
text-shadow: 0 0 8px black;
top:60px;
width:240px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
pointer-events:auto;
}
#GitHub:after{
content:'Star me on GitHub';
}
#GitHub:hover{
background-color:#f00;
}
#demo1{
margin:8px auto;
}
.waveType{
margin:8px;
float:left;
width:80px;
height:80px;
border:2px solid #000;
border-radius:50%;
background-color:black;
background-position:center; 
background-repeat:no-repeat;
background-size:50% 50%;
}
.wtActive{
border-color:yellow;
}
#wtSin{
background-image:url(sin.png);
}
#wtTri{
background-image:url(tri.png);
}
#wtSqr{
background-image:url(sqr.png);
}
#wtSaw{
background-image:url(saw.png);
}
.divWaveLength input{
margin:8px;
border-style: none;
cursor: grab;  
}
.capWaveLength{
color:white;
font-size: large;
padding:8px;
text-align: center;
}
